.h1{
    color: orangered;
    background-color: aqua;
    text-align: center;
    text-decoration: underline;
}

.p{
    color: rgb(218, 32, 156);
    background-color: yellow;
    text-align: center;
    text-decoration: underline;
}